<aside class="mdc-temporary-drawer mdc-typography">
  <nav class="mdc-temporary-drawer__drawer">

    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content">
        Header here
      </div>
    </header>

    <div class="mdc-list-group">
      <nav class="mdc-list">
        {{#each this.pages}}
          {{!-- Key: {{@key}} --}}
          <{{this.menu.element}} class="{{this.menu.class}}" href="{{this.menu.path}}">
            <i class="{{this.menu.iconClass}}" aria-hidden="true">{{this.menu.icon}}</i>{{this.menu.name}}
          </{{this.menu.element}}>
        {{/each}}
      </nav>

      <hr class="mdc-list-divider">

    </div>

  </nav>
</aside>

<section>

  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <button class="menu material-icons mdc-toolbar__icon--menu">{{this.menuIcon}}</button>
        <span class="mdc-toolbar__title">{{this.site}}</span>
      </section>
    </div>
  </header>

  <main class="mdc-toolbar-fixed-adjust">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell">
          <div class="mdc-card mdc-card--theme-dark">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">Title goes here</h1>
              <h2 class="mdc-card__subtitle">Subtitle here</h2>
            </section>
            <section class="mdc-card__actions">
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 1</button>
              <button class="mdc-button mdc-button--theme-dark mdc-button--compact mdc-card__action">Action 2</button>
            </section>
          </div>
        </div>
      </div>
    </div>
  </main>
  
</section>